*.csv
*.sqlite
*.qdrep
*.pyc
*.so
*.o
*.ncu-rep
*.svg
*.png
*.run
*.deb
.DS_Store
.idea/
__pycache__/
orion.egg-info/
benchmarking/examples/*
benchmarking/eval/*
benchmarking/model_kernels/*
benchmarking/results/*
results
exps/A
exps/exp_data.bak
config_files
kernel_files.bak
*.log
*.txt
*.h
*.c
*.rst
*.cmake
*.cxx
*.cpp
setup
*.tar.gz
exps/kernel_files/*